---
draft: true
---
## Work-in-progress bestanden
Doel: De onderstaande bestanden hebben nog todo items in de markdown staan.
Deze todo items moeten nog worden afgehandeld.

| Status | File | Path | Taxonomie | Tags | Errors | Errors |
| --- | --- | --- | --- | --- | --- | --- |
| 🔨 | 26. work-in-progress test | 3. Procedurele-informatie/26. work-in-progress test.md | N/A | N/A | Geen taxonomiecode gevonden.<br>Work-in-progress items gevonden: <br>-=ENUM=- |


## Gefaalde bestanden
*Doel: De onderstaande bestanden zijn niet succesvol verwerkt.*

❌ Dit bestand bevat nog geen taxonomie code
⚠️ Dit bestand bevat fouten. Zie de *Errors* kolom om te weten wat er mis is
🟠 Dit bestand bevat een taxonomie code die niet toegevoegd hoeft te zijn

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ⚠️ | 10. Taxonomie code zonder onderwerp (tc-3) | 2. Ondersteunende-informatie/10. Taxonomie code zonder onderwerp (tc-3).md | bg-24.2.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.OI`  |
| ⚠️ | 11. Taxonomie code zonder niveau (tc-2) | 2. Ondersteunende-informatie/11. Taxonomie code zonder niveau (tc-2).md | bg-24.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 12. Taxonomie code zonder tc-1 | 2. Ondersteunende-informatie/12. Taxonomie code zonder tc-1.md | 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 13. Taxonomie code met 0 in tc-1 | 2. Ondersteunende-informatie/13. Taxonomie code met 0 in tc-1.md | bg-0.2.Alleen-Niveau-Twee.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 14. Taxonomie code met spaties in tc-3 | 2. Ondersteunende-informatie/14. Taxonomie code met spaties in tc-3.md | bg-24.2.Alleen Niveau Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau Twee.OI`  |
| ⚠️ | 15. Taxonomie code tussen tc-1 en tc-2 | 2. Ondersteunende-informatie/15. Taxonomie code tussen tc-1 en tc-2.md | bg-24. 2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24. 2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 16. Taxonomie code tussen tc-2 en tc-3 | 2. Ondersteunende-informatie/16. Taxonomie code tussen tc-2 en tc-3.md | bg-24.2. Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.2. Alleen-Niveau-Twee.OI`  |
| ⚠️ | 17. Taxonomie code tussen tc-3 en tc-4 | 2. Ondersteunende-informatie/17. Taxonomie code tussen tc-3 en tc-4.md | bg-24.2.Alleen-Niveau-Twee. OI | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee. OI`  |
| 🟠 | 18. Taxonomie code die niet behandeld hoeft te worden | 2. Ondersteunende-informatie/18. Taxonomie code die niet behandeld hoeft te worden.md | bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>Geen-Niveau<br>bg-24.2.Geen-Niveau.OI<br>bg-24.3.Alleen-Niveau-Twee.OI | Taxonomiecode gebruikt wanneer niet nodig:  `bg-24.2.Geen-Niveau.OI` <br>Taxonomiecode gebruikt wanneer niet nodig:  `bg-24.3.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 2. Taxonomie code op negatief niveau | 2. Ondersteunende-informatie/2. Taxonomie code op negatief niveau.md | bg-24.-2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.-2.Alleen-Niveau-Twee.OI`  |
| ❌ | 21. Fouten in dynamisch link opgelost | 4. Deeltaken/21. Fouten in dynamisch link opgelost.md | N/A | N/A | Ongeldige dynamische link:  `[[foutieveLinkEen]]` <br>Ongeldige dynamische link:  `[[foutieveLinkTwee]]` <br>Geen taxonomiecode gevonden. |
| ⚠️ | 22. Twee taxonomie codes met fouten | 2. Ondersteunende-informatie/22. Twee taxonomie codes met fouten.md | bg-0.2.Alleen-Niveau-Twee.OI<br>bg-24.2.Alleen-Niveau-Twee.JH | N/A | Taxonomie niet gevonden in dataset:  `bg-0.2.Alleen-Niveau-Twee.OI` <br>Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee.JH`  |
| ❌ | 25. 2 van de 5 images gebruikt | 4. Deeltaken/25. 2 van de 5 images gebruikt.md | N/A | N/A | Geen taxonomiecode gevonden. |
| ⚠️ | 27. Taxonomie code in verkeerde 4CID onderdeel | 1. Leertaken/27. Taxonomie code in verkeerde 4CID onderdeel.md | bg-24.2.Alleen-Niveau-Twee.LT<br>bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.LT<br>bg-24.2.Alleen-Niveau-Twee.OI | 4C/ID-component van taxonomie komt niet overeen met 4C/ID-map:  `bg-24.2.Alleen-Niveau-Twee.LT` <br>4C/ID-component van taxonomie komt niet overeen met 4C/ID-map:  `bg-24.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 28. Taxonomie code met te veel punten | 1. Leertaken/28. Taxonomie code met te veel punten.md | bg-24.2.Alleen.Niveau.Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen.Niveau.Twee.LT`  |
| ⚠️ | 29. Taxonomie code met spaties bij onderwerp | 1. Leertaken/29. Taxonomie code met spaties bij onderwerp.md | bg-24.2.Alleen Niveau.Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau.Twee.LT`  |
| ⚠️ | 3. Taxonomie code op niveau 0 | 2. Ondersteunende-informatie/3. Taxonomie code op niveau 0.md | bg-24.0.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.0.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 30 Taxonomie code met spatie in onderwerp en punt te veel | 1. Leertaken/30 Taxonomie code met spatie in onderwerp en punt te veel.md | bg-24.2.Alleen Niveau Twee.LT | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen Niveau Twee.LT`  |
| ⚠️ | 31. Taxonomie code met lege lijst(en) | 1. Leertaken/31. Taxonomie code met lege lijst(en).md | []<br>["[]"]<br>None<br>["None"]<br>[""]<br>"None" | N/A | Ongeldige taxonomiecode:  `[]` <br>Ongeldige taxonomiecode:  `["[]"]` <br>Ongeldige taxonomiecode:  `None` <br>Ongeldige taxonomiecode:  `["None"]` <br>Ongeldige taxonomiecode:  `[""]` <br>Ongeldige taxonomiecode:  `"None"`  |
| ⚠️ | 4. Taxonomie code op niveau 4 | 2. Ondersteunende-informatie/4. Taxonomie code op niveau 4.md | bg-24.4.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg-24.4.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 5. Taxonomie code met negatieve tc-1 | 2. Ondersteunende-informatie/5. Taxonomie code met negatieve tc-1.md | bg--24.2.Alleen-Niveau-Twee.OI | N/A | Ongeldige taxonomiecode:  `bg--24.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 6. Taxonomie code met verkeerd tc-1 nummer | 2. Ondersteunende-informatie/6. Taxonomie code met verkeerd tc-1 nummer.md | bg-19.2.Alleen-Niveau-Twee.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-19.2.Alleen-Niveau-Twee.OI`  |
| ⚠️ | 7. Taxonomie code met niet bestaand onderwerp | 2. Ondersteunende-informatie/7. Taxonomie code met niet bestaand onderwerp.md | bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI | N/A | Taxonomie niet gevonden in dataset:  `bg-24.2.Dit-Onderwerp-Bestaat-Niet.OI`  |
| ⚠️ | 8. Taxonomie code met een niet bestaand 4CID component | 1. Leertaken/8. Taxonomie code met een niet bestaand 4CID component.md | bg-24.2.Alleen-Niveau-Twee.JH | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee.JH`  |
| ⚠️ | 9. Taxonomie code zonder 4CID component (tc-4) | 1. Leertaken/9. Taxonomie code zonder 4CID component (tc-4).md | bg-24.2.Alleen-Niveau-Twee | N/A | Ongeldige taxonomiecode:  `bg-24.2.Alleen-Niveau-Twee`  |


## Gefaalde images
*Doel: De onderstaande images missen een 4C/ID component.*

Als een image de error heeft over het niet gebruikt worden, betekent dit dat de image niet in build staat, maar nog wel in content.

| Status | Image | Path | Error |
| --- | --- | --- | --- |
| 🏳️ | OI_test_image_2 | 4. Deeltaken/src/OI_test_image_2.png | Afbeelding wordt in geen enkel bestand gebruikt |
| 🏳️ | PI_test_image_4 | 4. Deeltaken/src/PI_test_image_4.png | Afbeelding wordt in geen enkel bestand gebruikt |
| 🏳️ | test_image_1 | 4. Deeltaken/src/test_image_1.png | Afbeelding wordt in geen enkel bestand gebruikt |
| ❌ | test_image_3 | 4. Deeltaken/src/test_image_3.png | Afbeelding bevat geen 4C/ID-component. |


## Geslaagde bestanden
De onderstaande bestanden zijn succesvol verwerkt.

| Status | File | Path | Taxonomie | Tags | Errors |
| --- | --- | --- | --- | --- | --- |
| ✅ | 1. Correct taxonomie codes | 3. Procedurele-informatie/1. Correct taxonomie codes.md | bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Alleen-Niveau-Twee<br>Ander-Eerste-Onderdeel<br>Beheerproces<br>Bouwen softwaresysteem<br>Gebruiken beheersysteem<br>Implentatieproces<br>Niveau-Twee-En-Drie<br>bg-24.2.Alleen-Niveau-Twee.PI<br>bg-24.2.Niveau-Twee-En-Drie.PI<br>bg-24.3.Niveau-Twee-En-Drie.PI<br>ib-19.2.Ander-Eerste-Onderdeel.PI<br>ib-19.3.Ander-Eerste-Onderdeel.PI | N/A |
| ✅ | 19. Dezelfde taxonomie code twee keer | 4. Deeltaken/19. Dezelfde taxonomie code twee keer.md | bg-24.2.Alleen-Niveau-Twee.DT<br>bg-24.2.Alleen-Niveau-Twee.DT | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.DT | N/A |
| ✅ | 20. Dezelfde taxonomie code twee keer, maar ander niveau | 1. Leertaken/20. Dezelfde taxonomie code twee keer, maar ander niveau.md | bg-24.3.Niveau-Twee-En-Drie.LT<br>bg-24.2.Niveau-Twee-En-Drie.LT | HBO-i/niveau-2<br>HBO-i/niveau-3<br>Beheerproces<br>Gebruiken beheersysteem<br>Niveau-Twee-En-Drie<br>bg-24.2.Niveau-Twee-En-Drie.LT<br>bg-24.3.Niveau-Twee-En-Drie.LT | N/A |
| ✅ | 23. Taxonomie code met al bestaande tag | 3. Procedurele-informatie/23. Taxonomie code met al bestaande tag.md | bg-24.2.Alleen-Niveau-Twee.PI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>DezeTagMoetBlijvenBestaan<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.PI | N/A |
| ✅ | 24. Taxonomie code met al bestaande tag gelijk aan het onderwerp | 2. Ondersteunende-informatie/24. Taxonomie code met al bestaande tag gelijk aan het onderwerp.md | bg-24.2.Alleen-Niveau-Twee.OI | HBO-i/niveau-2<br>Alleen-Niveau-Twee<br>Beheerproces<br>Gebruiken beheersysteem<br>bg-24.2.Alleen-Niveau-Twee.OI | N/A |
