---
draft: true
---
## Rapport 1 - Processtappen
*Doel: achterhalen welke processtappen nog helemaal niet zijn geïmplementeerd*

- ✅ Er bestaat een bestand met deze taxonomiecode op dit niveau 
- ⛔️ Er is geen enkel bestand met deze taxonomiecode op dit niveau 
- 🏳️ De taxonomiecode wordt niet aangeboden op dit niveau (X in de Dataset) 

| TC1 | Proces | Processtap | Niveau 1 | Niveau 2 | Niveau 3 |
| --- | --- | --- | --- | --- | --- |
| bg-24 | Beheerproces | Gebruiken beheersysteem | 🏳️ | ✅ | ✅ |
| ib-19 | Implentatieproces | Bouwen softwaresysteem | 🏳️ | ✅ | ✅ |


## Rapport 2 - Onderwerpen Catalogus
*Doel: Lijst met onderwerpen + gekoppelde taxonomie code voor inzicht in aangeboden onderwerpen.*
Bij kolom *TC2*, *Leertaken*, *Ondersteunende informatie*, *Procedurele informatie* en *Deeltaken* zijn drie tekens aanwezig om de drie HBO-i niveaus weer te geven

- ✅ Het onderwerp met taxonomie code wordt aangeboden op het aangegeven niveau 
- ⛔️ Het onderwerp met taxonomie code wordt **niet** aangeboden op het aangegeven niveau 
- 🏳️ Het onderwerp hoeft met deze taxonomie code niet aangeboden te worden op het aangegeven niveau 

| TC3 | TC1 | TC2 | Leertaken | Ondersteunende-informatie | Procedurele-informatie | Deeltaken |
| --- | --- | --- | --- | --- | --- | --- |
| Geen-Niveau | bg-24 | 🏳️ 🏳️ 🏳️ | 🏳️ 🏳️ 🏳️ | 🏳️ 🏳️ 🏳️ | 🏳️ 🏳️ 🏳️ | 🏳️ 🏳️ 🏳️ |
| Alleen-Niveau-Twee | bg-24 | 🏳️ ✅ 🏳️ | 🏳️ ⛔️ 🏳️ | 🏳️ ✅ 🏳️ | 🏳️ ✅ 🏳️ | 🏳️ ✅ 🏳️ |
| Niveau-Twee-En-Drie | bg-24 | 🏳️ ✅ ✅ | 🏳️ ✅ ✅ | 🏳️ ⛔️ ⛔️ | 🏳️ ✅ ✅ | 🏳️ ⛔️ ⛔️ |
| Ander-Eerste-Onderdeel | ib-19 | 🏳️ ✅ ✅ | 🏳️ ⛔️ ⛔️ | 🏳️ ⛔️ ⛔️ | 🏳️ ✅ ✅ | 🏳️ ⛔️ ⛔️ |
