name: Test for taxonomie codes
on:
  push:
    branches:
      - staging
    paths:
      - '.github/**'
      - 'test_cases/**'

jobs:
  run-parser-and-create-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Configure Git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install pandas
          pip install openpyxl

      - name: Fetch all branches
        run: |
          git fetch --all

      - name: Checkout staging branch
        run: |
          git checkout staging

      - name: Run wikiversie_parser.py script
        run: |
          python .github/wikiversie_parser.py --src "./content" --dest "./build" --dataset .github/dataset.xlsx --testing --testdir "./test_cases" --verbose
